<h4>怎样购买</h4>
<p>功能介绍：如果您要买书，可以参考下面的流程。</p>
<p>(1)首先，点击Add to Cart，添加要买的书籍到购物车</p>
<%= image_tag 'addtocart01.jpg', :height => 400, :width => 800 %>
<p>添加书籍成功后</p>
<%= image_tag 'addtocart02.jpg', :height => 400, :width => 800 %>
<p>(2)如果想清空购物车，则点击Empty Cart</p>
<%= image_tag 'emptycart01.jpg', :height => 400, :width => 800 %>
<p>购物车清空后</p>
<%= image_tag 'addtocart02.jpg', :height => 400, :width => 800 %>
<p>(3)根据购物车中的物品结账买单，点击Check out</p>
<%= image_tag 'checkout01.jpg', :height => 400, :width => 800 %>
<p>填写Check out页面的信息</p>
<%= image_tag 'checkout02.jpg', :height => 400, :width => 800 %>
<p>检查信息无误后，点击Place order确定订单</p>
<%= image_tag 'checkout03.jpg', :height => 400, :width => 800 %>