<h4>怎样进行订单管理</h4>
<p>功能介绍：作为卖家，您可以对自己网上商店的订单进行管理。</p>
<p>卖家登录后，点击Orders进入订单管理页面</p>
<%= image_tag 'ordermanage.jpg', :height => 200, :width => 700%>
<p>在订单管理页面，点击Show，查看订单信息</p>
<%= image_tag 'ordershow01.jpg', :height => 200, :width  => 700%>
<p>订单信息</p>
<%= image_tag 'ordershow02.jpg', :height => 200, :width  => 700%>
<p>在订单管理页面，点击Edit，编辑订单信息</p>
<%= image_tag 'orderedit01.jpg', :height => 200, :width  => 700%>
<p>编辑页面</p>
<%= image_tag 'orderedit02.jpg', :height => 200, :width  => 700%>
<p>在订单管理页面，点击New Order，添加新订单</p>
<%= image_tag 'ordernew01.jpg', :height => 200, :width  => 700%>
<p>点击添加新订单后</p>
<%= image_tag 'ordernew02.jpg', :height => 400, :width  => 700%>
<p>在订单管理页面，点击Destroy，删除订单</p>
<%= image_tag 'orderdestroy01.jpg', :height => 200, :width  => 700%>
<p>成功删除订单后</p>
<%= image_tag 'orderdestroy02.jpg', :height => 200, :width  => 700%>