<h4>怎样进行书籍管理</h4>
<p>功能介绍：作为卖家，您可以对自己网上商店的书籍进行管理。</p>
<p>卖家登录后，点击Products进入书籍管理页面</p>
<%= image_tag "products.jpg", :width => 700%><br /><br />
<p>在书籍管理页面，点击Show，查看书籍信息</p>
<%= image_tag "show01.jpg", :width => 700%><br /><br />
<p>书籍信息</p>
<%= image_tag "show02.jpg", :width => 700%><br /><br />
<p>在书籍管理页面，点击Edit，编辑书籍信息</p>
<%= image_tag "edit01.jpg", :width => 700%><br /><br />
<p>编辑页面</p>
<%= image_tag "edit02.jpg", :width => 700%><br /><br />
<p>在书籍管理页面，点击New Product，添加新书</p>
<%= image_tag "new01.jpg", :width => 700%><br /><br />
<p>输入新书信息</p>
<%= image_tag "new02.jpg", :width => 700%><br /><br />
<p>点击添加，添加成功</p>
<%= image_tag "new03.jpg", :width => 700%><br /><br />
<p>在书籍管理页面，点击Destroy，删除书籍</p>
<%= image_tag "destroy01.jpg", :width => 700%><br /><br />
<p>成功删除书籍后（注意：只有没被订单引用的书籍才可以成功删除）</p>
<%= image_tag "destroy02.jpg",   :width => 700%><br /><br />