<%= stylesheet_link_tag "table"%>

<h1>Listing questions</h1>

<div class="table">
<table>
  <tr>
    <th>User</th>
    <th>Problem</th>
    <th>Answer</th>
    <th colspan=3>Operation</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.user_id %></td>
    <td><%= question.problem %></td>
    <td><%= question.answer %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Question', new_question_path %>
<p><%= will_paginate %></p>
