<<<<<<< HEAD
<%if notice%>
<p id="notice"><%= notice %></p>
<%end%>
=======
<p id="notice"><%= notice %></p>
>>>>>>> aa0b8a2818791fe2b70e9e8427e2729f21fa1720

<p>
  <b>User:</b>
  <%= @question.user_id %>
</p>

<p>
  <b>Problem:</b>
  <%= @question.problem %>
</p>

<p>
  <b>Answer:</b>
  <%= @question.answer %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
