<h1>Listing comments</h1>

<table>
  <tr>
    <th width="5%" align="center">Product</th>
    <th width="5%" align="center">User</th>
    <th width="40%" align="center">Content</th>
    <th width="5%"></th>
    <th width="5%"></th>
    <th width="5%"></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td width="15%" align="center"><%= comment.product_id %></td>
    <td width="15%" align="center"><%= comment.user_id %></td>
    <td width="15%" align="center"><%= comment.content %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
<p><%= will_paginate %></p>

