<h1><%= t('.title')%></h1>
<% if notice %>
<p id="notice"><%=notice%></p>
<% end %>
<table>
  <tr>
    <th><%= t('.name')%></th>
    <th>Type</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.usertype%></td>
    <td><%= link_to t('.show'), user %></td>
    <td><%= link_to t('.edit'), edit_user_path(user) %></td>
    <td><%= link_to t('.destroy'), user, :confirm => t('.sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new'), new_user_path %>
<p><%= will_paginate @users %></p>
