<%= form_for(@book_in_need) do |f| %>
  <% if @book_in_need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_in_need.errors.count, "error") %> prohibited this book_in_need from being saved:</h2>

      <ul>
      <% @book_in_need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :press %><br />
    <%= f.text_field :press %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
