<div id="book_in_need_list">
<h1>Books In Need</h1>
<br />
<table>
<% @book_in_needs.each do |book_in_need| %>
	<tr class="<%= cycle('list_line_odd','list_line_even') %>">
	
		<td>
			<%= image_tag(book_in_need.image_url, :class => 'list_image') %>
		</td>
		
		<td class="list_description">
			<dl>
				<dt>Title: <%= book_in_need.title %></dt>
				<dt>Author: <%= book_in_need.author%></dt>
				<dt>Press: <%= book_in_need.press %></dt>
				<dt>Description:</dt>
				<dd><%= truncate(strip_tags(book_in_need.description),
					:length => 80) %></dd>
			</dl>
		</td>
		
		<td class="list_actions">
			<%= link_to 'Show', book_in_need %><br />
			<%= link_to 'Destroy', book_in_need, 
						:confirm => 'Are you sure?', 
						:method => :delete %><br />
		</td>
    </tr>
	<% end %>
  </table>
</div>

<br />