<%= stylesheet_link_tag "table" %>

<h1><%= t('.order_list_title')%></h1>

<div class="table">
<table>
  <tr style="font-family: serif; font-size: 120%" >
  	<th width="15%" align="center">ID</th>
    <th width="15%" align="center"><%= t('.order_list_name')%></th>
    <th width="15%" align="center"><%= t('.order_list_pay_type')%></th>
    <th width="15%" align="center">Total_Price</th>
    <th width="15%" align="center">Order_State</th>
    <th colspan=4>Operations</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
  	<td align="center"><%= sprintf("%010d",order.id)%></td>
    <td align="center"><%= order.name %></td>
    <td align="center"><%= order.pay_type %></td>
    <td align="center"><%= number_to_currency(order.price) %></td>
    <td align="center"><%= order.state%></td>
    <td><%= link_to t('.order_show'), order %></td>
    <td><%= link_to t('.order_edit'), edit_order_path(order) %></td>
    <td><%= link_to t('.order_destroy'), order, :confirm => t('.order_destroy_sure'), :method => :delete %></td>
    <td>
    <% if order.state == '未发货'%>
      <%= button_to 'Ship', :controller => 'orders', :action => :ship, :id => order.id%>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to t('.order_new'), new_order_path %>
<p><%= will_paginate @orders %> </p>
