<h1><%= t('.order_list_title')%></h1>

<table>
  <tr>
  	<th>ID</th>
    <th><%= t('.order_list_name')%></th>
    <th><%= t('.order_list_pay_type')%></th>
    <th>Total_Price</th>
    <th>Order_State</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
  	<td><%= order.id%></td>
    <td><%= order.name %></td>
    <td><%= order.pay_type %></td>
    <td><%= number_to_currency(order.price) %></td>
    <td><%= order.state%></td>
    <td><%= link_to t('.order_show'), order %></td>
    <td><%= link_to t('.order_edit'), edit_order_path(order) %></td>
    <td><%= link_to t('.order_destroy'), order, :confirm => t('.order_destroy_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.order_new'), new_order_path %>
<p><%= will_paginate @orders %> </p>
