<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="order_show">
<ul>
	<li><b><%= t('.order_show_name')+":" %></b><br />&nbsp;&nbsp;<%= @order.name %></li><br />
	<li><b><%= t('.order_show_address')+":" %></b><br />&nbsp;&nbsp;<%= @order.address %></li><br />
	<li><b><%= t('.order_show_email')+":" %></b><br />&nbsp;&nbsp;<%= @order.email %></li><br />
	<li><b><%= t('.order_show_pay_type')+":" %></b> <br />&nbsp;&nbsp;<%= @order.pay_type %></li><br />
	<li><b>Order_Type:</b><br />&nbsp;&nbsp;<%= @order.state%></li><br />
	<li><b>Total Price:</b><br />&nbsp;&nbsp;<%= number_to_currency(@order.price)%></li><br />
	<li><b>Order Details:</b><br />
	  <% @order.line_items.each do |item|%>
	  &nbsp;&nbsp;<%= item.quantity %>&times;<%= item.product.title %>
	  &nbsp;&nbsp;&nbsp;<%= number_to_currency(item.total_price) %><br />
	  <% end %>
	</li>
</ul>
</div>

<% if session[:user_type]==1%>
  <% if @order.state == '未发货'%>
    <%= button_to 'Ship', :controller => 'orders', :action => :ship, :id => @order.id %>
  <% end %>
  <br /><br />
  <%= link_to t(".order_show_edit"), edit_order_path(@order) %> |
  <%= link_to t('.order_show_back'), orders_path %>
<% end %>
