<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b><%= t('.order_show_name')+":" %></b>
  <%= @order.name %>
</p>

<p>
  <b><%= t('.order_show_address')+":" %></b>
  <%= @order.address %>
</p>

<p>
  <b><%= t('.order_show_email')+":" %></b>
  <%= @order.email %>
</p>

<p>
  <b><%= t('.order_show_pay_type')+":" %></b>
  <%= @order.pay_type %>
</p>

<p>
	<b>Order_Type:</b>
	<%= @order.state%>
</p>
<p>
	<b>Order Details:</b><br />
	<% @order.line_items.each do |item|%>
	  <%= item.quantity %>&times;<%= item.product.title %>
	  &nbsp;&nbsp;&nbsp;<%= number_to_currency(item.total_price) %><br />
	  <% end %>
</p>
<p>
	<b>Total Price:</b>
	<%= number_to_currency(@order.price)%>
</p>


<% if session[:user_type]==1%>
<%= link_to t(".order_show_edit"), edit_order_path(@order) %> |
<%= link_to t('.order_show_back'), orders_path %>
<% end %>
