<div id="product_list">
<h1><%= t('.product_list_title') %></h1>
<br />
<table>
<% @products.each do |product| %>
	<tr class="<%= cycle('list_line_odd','list_line_even') %>" >
	
		<td>
			<%= image_tag(product.image_url, :class => 'list_image') %>
		</td>
		
		<td class="list_description">
			<dl>
				<dt>Title: <%= product.title %></dt>
				<dt style='font: 100% bold'>Author: <%= product.author %></dt>
<<<<<<< HEAD
=======
<% if product.pdf == 'lack' %>
   <dt>Try Reading: lack</dt>
<% else %>
   <%= link_to t('.Try Reading'),product.pdf %></br>
<% end %>
>>>>>>> aa0b8a2818791fe2b70e9e8427e2729f21fa1720
				<dd><%= truncate(strip_tags(product.description),
					:length => 80) %></dd>
			</dl>
		</td>
		
		<td class="list_actions">
			<%= link_to t('.product_list_show'), product %><br />
			<%= link_to t('.product_list_edit'), edit_product_path(product) %><br />
			<%= link_to t('.product_list_destroy'), product, 
						:confirm => t('.product_list_sure'), 
						:method => :delete %><br />
		</td>
    </tr>
	<% end %>
  </table>
</div>

<br />

<%= link_to t('.product_list_new'), new_product_path %>
<p><%= will_paginate @products %></p>
