<div id="product_list">
<h1><%= t('.product_list_title') %></h1>
<br />
<table>
<% @products.each do |product| %>
	<tr class="<%= cycle('list_line_odd','list_line_even') %>">
	
		<td>
			<%= image_tag(product.image_url, :class => 'list_image') %>
		</td>
		
		<td class="list_description">
			<dl>
				<dt><%= product.title %></dt>
				<dd><%= truncate(strip_tags(product.description),
					:length => 80) %></dd>
			</dl>
		</td>
		
		<td class="list_actions">
			<%= link_to t('.product_list_show'), product %><br />
			<%= link_to t('.product_list_edit'), edit_product_path(product) %><br />
			<%= link_to t('.product_list_destroy'), product, 
						:confirm => t('.product_list_sure'), 
						:method => :delete %><br />
		</td>
    </tr>
	<% end %>
  </table>
</div>

<br />

<%= link_to t('.product_list_new'), new_product_path %>