<%if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <b><%= t('.product_show_title') +":"%></b>
  <%= @product.title %>
</p>

<p>
  <b><%= t('.product_show_description') + ":"%></b>
  <%= sanitize(@product.description) %>
</p>


<p>
	<img src="<%= @product.image_url %>" alt="<%=@product.title %>" />
</p>
<p>
  <b><%= t('.product_show_price') + ":" %></b>
  <%= number_to_currency(@product.price) %>
</p>


<%= link_to t('.product_show_edit'), edit_product_path(@product) %> |
<%= link_to t('.product_show_back'), products_path %>
