<% if notice %>
<p id="notice"><%= notice %></p> 
<% end %>

<div align='right'>
<% form_tag ({:controller => 'products', :action => :search}) do %>
<span style="font: 120% bold">Key Word:</span>
<%=text_field_tag :input, nil, :size => 20%>
<%=select_tag(:arg, options_for_select(%w{title author}))%>
<%=submit_tag 'Search'%>
<% end %> 
</div>

<h1><%= t('.title_html')%></h1> 
 
<% @products.each do |product| %>
  <div class="entry"> 
    <%= link_to (image_tag(product.image_url)), {:controller => 'products', :action => 'show', :id => product.id} %>
    <h3>Title: <%= link_to product.title, {:controller => 'products', :action => 'show', :id => product.id} %></h3> 
    <span>Author: <%= product.author%></span>
    <%= sanitize(product.description) %>
    <div class="price_line"> 
      <span class="price"><%= number_to_currency(product.price) %></span> 
      <%= button_to t('.add'), line_items_path(:product_id => product),
        :remote => true %>
    </div> 
  </div> 
<% end %>