<!DOCTYPE html> 
<html> 
<head> 
  <title>Pragprog Books Online Store</title> 
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head> 

<body id="store"> 
  <div id="banner"> 
  	<%= form_tag store_path, :class => 'locale' do %>
  	  <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
  	      :onchange => 'this.form.submit()' %>
  	    <%= submit_tag 'submit'%>
    	<%= javascript_tag "$$('.locale input').each(Element.hide)" %>
  	<% end %>
  	
    <%= image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
  </div> 
 <div id="columns">
    <div id="side">
      <% if (@cart && !@hidden) %>
        <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
          <%= render @cart %>
        <% end %>
      <% end %>
 
      <%= image_tag("Home.png") %>&nbsp;<a href="<%= store_url %>"><%= t('.home')%></a><br /> 
      <%= image_tag("Question.png") %>&nbsp;<%= link_to t('.questions'), :controller => 'questions', :action => :raise%><br />
      <%= image_tag("News.png") %>&nbsp;<%= link_to t('.news'), :controller => 'store', :action => :news%><br />
      <%= image_tag("Contact.png") %>&nbsp;<%= link_to t('.contact'), :controller => 'store', :action => :contact %><br />
      <%= image_tag("help.png") %>&nbsp;<%= link_to "Help", :controller => 'help', :action => :index %><br />

      <%if session[:user_id]%>
         <% if session[:user_type] == 1%>
         <br/>
         <h4>Management</h4>
         <%= image_tag("orders.png") %>&nbsp;<%=link_to t('.orders'), orders_path %><br/>
         <%= image_tag("products.png") %>&nbsp;<%=link_to t('.products'), products_path %><br/>
         <%= image_tag("User.png") %>&nbsp;<%=link_to t('.users'), users_path%><br/>
         <%= image_tag("comments.jpg") %>&nbsp;<%=link_to 'Comments', comments_path%><br/>
         <%= image_tag("questions.png") %>&nbsp;<%=link_to 'Questions', questions_path%><br />
         <br/>
         <% else %>
         <br /><br />
         <%= image_tag("orders.png") %>&nbsp;<%= link_to 'My Orders', :controller => 'orders', :action => :show_by_user_id %>
         <br /><br /><br />
         <span><%= image_tag("welcome.png") %>&nbsp;Hello,</span> <%= session[:user_name] %>
         <br /> 
         <% end %>
         <%=button_to t('.logout'), logout_path,:method=>:delete %>
      <%end%>
      
      <%unless session[:user_id]%>
      <br />
      <%=link_to 'Login', :controller => 'sessions', :action => 'new' %> |
      <%=link_to 'Register',:controller => 'users', :action => 'new' %>
      <br />
      <% end %>
      
    </div> 
    <div id="main"> 
      <%= yield %>
    </div> 
  </div>
</body> 
</html> 
